<footer class="footer footer-center p-4 bg-base-200">
  <aside>
    <p>
      made with astro with 💖 by @<a
        class="link link-primary"
        href="https://x.com/alexogeny">alexogeny</a
      >
    </p>
  </aside>
</footer>
