---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "../global.css";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title} // @alexogeny.dev</title>
  </head>
  <body>
    <Navbar />
    <main class="w-full px-48 py-20">
      <div class="section mb-10 text-justify">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
